html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url("../Images/backimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.font-Ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.85);
    height: auto;
    width: 400px;
    border-radius: 12px;
}

.block-top {
    height: 30px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgb(158, 131, 124);
}

.login-header-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.login-header-block span {
    font-size: 20pt;
    color: rgb(116, 107, 106);
    width: 250px;
    text-align: center;
    border-radius: 8px;
}

.login-input-block {
    height: 150px;
    /* border : 1px dotted black; */
    width: 300px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rounded-input-wrapper {
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border: 2px solid rgb(116, 107, 106);
    margin-bottom: 5px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
}
.login-input-icon {
    box-sizing: border-box;
    width: 25%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-input {
    border: none;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: inline;
    background-color: rgba(255,255,255,0);
    /* text-align: center; */
}

.login-input:focus {
    border: none;
    outline: none;
}

.login-button{
    background-color :darkseagreen ; 
    display: block;
    width : 45%;
    margin : 0px auto;
    border : none;
    border-radius: 4px;
    height : 40px;
    color : white;
    font-size: 14pt;
    cursor: pointer;
   
}
.login-button:active , .login-button:focus{
    outline: none;
}

.block-bottom {
    margin-top: 40px;
    height: 30px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgb(158, 131, 124);
}